body {
    color: #444;
    background: #ddd;
    padding: 0;
    margin: 0;
    font: 'メイリオ', Meiryo;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

section {
    margin: 0;
    padding: 0;
}

code {
    text-align: left;
    font-size: 24px;
}

li {
    text-align: left;
    p {
        text-align: left;
    }

    > p {
        margin-bottom: 0;
    }
}
